[contenteditable] {
  white-space: pre-wrap;

  * {
    display: inline;
    &:empty:only-child {
      display: inline-block;
    }
  }
  .span:empty::after {
    display: inline-block;
    content: "\200B";
    height: 100%;
    width: 1px;
  }
}
