@use "./mixins/color" as color;

[contenteditable]:empty {
  content: "\200B";
}

p {
  font-size: 1em;
  line-height: 1.25em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0;

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  white-space: pre-wrap;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

@each $name, $_ in color.$colors-codes {
  .#{"color-" + $name} {
    @if ($name == "default") {
      color: currentColor;
    } @else {
      color: var(#{"--color-" + $name});
    }
  }

  .#{"bgColor-" + $name} {
    background-color: var(#{"--bg-" + $name});
  }
}

// Semantic colour aliases
@each $key in (muted, disabled, link) {
  .#{"color-" + $key} {
    color: var(#{"--color-" + $key});
  }
}

// @import "prism-themes/themes/prism-material-light.css";
// @import "prism-themes/themes/prism-dracula.css";
@import "prism-themes/themes/prism-vs.css";
// @import "prismjs/themes/prism.css";

pre.prism {
  margin: calc(var(--space) * 2) 0;
  padding: calc(var(--space) * 3);
  border-radius: var(--radius);
  font-family:
    "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  user-select: none;

  code,
  textarea {
    border-radius: var(--radius);
    overflow-x: auto;
    white-space: pre;
    font-size: 0.85rem;
    line-height: 1.2rem;
    tab-size: 2;
    min-height: 1.2rem;
    -webkit-font-smoothing: antialiased;
  }

  code {
    display: block;
    scrollbar-color: transparent;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  textarea {
    padding: calc(var(--space) * 3) !important;
    -webkit-text-fill-color: transparent;
    &:empty {
      -webkit-text-fill-color: initial !important;
    }
  }
}
